<div class='column'>
    <img class='image' src={{productImage}}>
</div>
<div class='column'>
    <h1 class='title'>{{productName}}</h1>
    <p class='price'>$ {{this.productPrice}}</p>
</div>
<div class='bottom'>
    <button type="button" class="btn btn-primary btn-lg">Купить прямо сейчас11!!один</button>
    </div>
<div class='recomendation-similar' product-id='{{productId}}'></div>